body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.important {
    color: red;
}

.reponse {
    text-align: center;
}

label {
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

select, input[type="number"], input[type="button"], input[type="submit"], input[type="reset"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #0056b3; 
}


#swapCurrencies {
    background-color: #28a745; 
}

#swapCurrencies:hover {
    background-color: #218838; 
}


input:invalid {
    border-color: #dc3545;
}